@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

body {
    background-image: url('clear.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    border-radius: 10px;
    height: 80vh;
    width: 75vw;
    min-width: 760px;
    background-color: rgba(0, 0, 0, 0.3); 
    backdrop-filter: blur(10px);
    font-family: 'Open Sans', sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 3rem;
    
}

h2 {
    font-size: 5rem;
    font-weight: 400;
    margin: 0;
    
}

#description {
    font-size: 2rem;
    margin: 0;
    text-align: center;
}

section p, section form {
    width: 100%;
    margin: 0;
    

}

form {
    width: 100%;
    display: flex;
    gap: 2rem;
}

#location-input {
    border-radius: 10px;
    border: none;
}

#submit-button {
    border-radius: 10px;
    border: none;
}

#submit-button:hover {
    cursor: pointer;
}

#details {
    justify-content: center;
    gap: 1rem;
}
